<% layout("/layouts/boilerplate") %>
<body style="height: 100vh;">
  <div class="row">
    <div class="col-8 offset-2">

      <h1>Add a New Listing</h1>
      <br>
      <br>
  
  <!-- Form to submit a new listing -->
  <form action="/listings" method="post"  class="needs-validation" novalidate>
    <!-- Title Input -->

   <div class="mb-3" >
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="listing[title]"  class="form-control" id="title" placeholder="Add a catchy title" required />
    <div class="valid-feedback"> Title Looks Good !</div>
   </div>
    

    <!-- Description Input -->
     <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
    <textarea name="listing[description]" class="form-control" id="description" placeholder="Enter description" required ></textarea>
    <div class="invalid-feedback">Please enter a short description</div>
    </div>
    
  

    <!-- Image Upload Input (for filename) -->
    <!-- <label for="filename">Image File:</label>
    <input type="file" name="image[filename]" id="filename" accept="image/*" required />
    <br /> -->

    <!-- Image URL Input -->
     <div class="mb-3">
      <label for="url" class="form-label">Image URL:</label>
    <input type="url" name="listing[image][url]" class="form-control" id="url" placeholder="Enter Image URL/Link"  />

    </div>


    
      <!-- Price Input -->
     <div class="mb-3" >
      <label for="price" class="form-label">Price (in Ruppes):</label>
    <input  name="listing[price]"class="form-control" id="price" placeholder="12000" min="0" step="0.01" required />
    <div class="invalid-feedback">Price Should be valid</div>

     </div>


     <div class="row">

      <!-- Country Input -->

     <div class="mb-3  col-md-4 ">
      <label for="country" class="form-label">Country:</label>
      <input type="text" name="listing[country]" class="form-control" id="country" placeholder="India" required />
      <div class="invalid-feedback">Country name should be valid</div>

     </div>

   

    <!-- Location Input -->
     <div class="mb-3  col-md-8 ">
      <label for="location" class="form-label">Location:</label>
    <input type="text" name="listing[location]" class="form-control" id="location" placeholder="Rohtak,Haryana" required />
    <div class="invalid-feedback">Location Should be valid</div>

     </div>
    

     </div>

 

    <!-- Submit Button -->
    <button type="submit" class="btn btn-dark mb-3  add-btn "  >Add Listing</button>
  </form>

    </div>

  </div>
  
</body>

